:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.logo-container > img {
  width: 100px;
}

.header {
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

ul.nav-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding: 0 1rem;
}
.nav-links li {
  font-size: 1.5rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;

}

.res-card {
  width: 150px;
  word-wrap: break-word;
  padding: 10px;
  background-color: #a1a1a1;
  
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: all 1s;
}
.res-card img {
  width: 100%;
}


.search-container{
margin: 10px;
}
